{{> navbar}}
<div class="container mt-3">
  <h3 class="mb-3">404 - Ups, no encontramos lo que buscabas :(</h3>
  <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.consumer.es%2Fwp-content%2Fuploads%2F2019%2F07%2Fimg_gatos-encontrar-perdidos-trucos-2-art.jpg&imgrefurl=https%3A%2F%2Fwww.consumer.es%2Fmascotas%2Fencontrar-a-un-gato-perdido-en-7-pasos.html&tbnid=RDWDkXlnZwPYwM&vet=12ahUKEwiV3cXM0Z73AhXQALkGHW6VC00QMygBegUIARCkAQ..i&docid=gEH0nmlh3HXAyM&w=746&h=668&q=gatos%20perdidos%20caricatura&hl=es-419&ved=2ahUKEwiV3cXM0Z73AhXQALkGHW6VC00QMygBegUIARCkAQ" alt="gatos" style="max-width:600px;width=100%">
  {{> backhome}}
</div>