{{> navbar}}
<div class="container mt-3">
  <h3 class="mb-3">500 - El servidor explotó por un error desconocido</h3>
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.redbubble.com%2Fes%2Fshop%2Fmeme%2Bgato%2Briendo&psig=AOvVaw38I7vcm6yDWelwWVsu8e44&ust=1650406366065000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCLjm7ovRnvcCFQAAAAAdAAAAABAJ" alt="gatos" style="max-width:600px;width=100%">
  {{> backhome}}
</div>